{% extends 'base.html' %} {% load socialaccount %}
{% load static %}
<!-- <img src="{% static 'app/images/bg.jpg' %}" alt="My image"> -->

{% block content %}

<div class="container" style="text-align: center; padding-top: 5%;">
  <h1 >Login</h1>
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />

  {% if user.is_authenticated %}
    <div>
      <h3>Welcome
      </h3>
      <style>
        div {
          color: rgb(201, 0, 0) ;
          /* font-size: 40px; */
        }
      </style>
    </div>
    <div>
      <h1>{{ user.username }} !</h1>
      <!-- <style>
        div {
          color: darkgrey;
          /* font-size: 40px; */
        }
      </style> -->
    </div>

    <br /><br />
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
  {% else %}
    <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
      <i class="fa fa-github fa-fw"></i>
      <span>Login with GitHub</span>
    </a>

    <a href="{% provider_login_url 'vk' %}" class="btn btn-primary">
      <i class="fa fa-vk fa-fw"></i>
      <span>Login with VK</span>
    </a>
  {% endif %}
  <style>
    body {
     background: url("{% static 'app/images/bg.jpg' %}") no-repeat;
     background-size: 138%;
     color: #fff;
    }
  </style>
</div>

{% endblock content %}